<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp />
        <logLevel />
        <loggerName />
        <threadName />
        <message />
        <stackTrace />
        <provider class="net.logstash.logback.composite.loggingevent.MdcJsonProvider">
          <includeMdcKeyName>traceId</includeMdcKeyName>
          <includeMdcKeyName>spanId</includeMdcKeyName>
          <mdcKeyFieldName>traceId=trace.id</mdcKeyFieldName>
          <mdcKeyFieldName>spanId=span.id</mdcKeyFieldName>
        </provider>
      </providers>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
